.calendar-heatmap {
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.calendar-heatmap .timestamp {
  fill: rgb(120, 120, 120);
  font-size: 14px;
  font-family: Helvetica, arial, 'Open Sans', sans-serif;
}

.calendar-heatmap .label {
  cursor: pointer;
  fill: rgb(120, 120, 120);
  font-family: Helvetica, arial, 'Open Sans', sans-serif;
}

.calendar-heatmap .calibration {
  margin-bottom: 900px;
  margin-left: 30px;
  width: 400px;
}

.calendar-heatmap .calibration .group {
  display: inline-block;
}

.calendar-heatmap .calibration .description {
  width: 125px;
  font-size: 12px;
  font-family: Helvetica, arial, 'Open Sans', sans-serif;
}

.calendar-heatmap .calibration .description>label:last-child {
  float: right;
}

.calendar-heatmap .button {
  cursor: pointer;
  fill: transparent;
  stroke-width: 2;
  stroke: rgb(170, 170, 170);
}
.calendar-heatmap .button text {
  stroke-width: 1;
  text-anchor: middle;
  fill: rgb(170, 170, 170);
}

.calendar-heatmap .heatmap .axis path {
  display: none;
}

.calendar-heatmap .heatmap .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.calendar-heatmap .heatmap .axis text {
  font-size: 12px
}

#tooltip {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  white-space: pre;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}
