body {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
  overflow: visible;
}

/* legends */

#header, #footer {
  position: absolute;
  z-index: 1;
  display: block;
}

#header {
  font-size: 34px;
  top: 20px;
  width: 1000px;
  text-align: center;
}

#footer {
  font-size: 12px;
  right: 270px;
  text-align: left;
  font-style: italic;
  color: rgb(70, 70, 70);
}

.calibration {
  margin-top: 30px;
  margin-left: 100px;
  width: 400px;
}

.calibration .description {
  width: 125px;
  font-size: 12px;
  color: rgb(50, 50, 50);
}

.calibration .description>label:last-child {
  float: right;
}

/* heatmap */

.calendar-heatmap {
  overflow: visible;
  z-index: 1;
  display: flex;
  margin-left: 250px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.calendar-heatmap .legend {
  font-size: 18px;
}

.calendar-heatmap .label {
  cursor: pointer;
}

.calendar-heatmap .button {
  cursor: pointer;
  fill: transparent;
  stroke-width: 1;
  stroke: rgb(100, 100, 100);
}

.calendar-heatmap .button text {
  stroke-width: 1;
  text-anchor: middle;
  fill: black;
}

.calendar-heatmap .heatmap .axis path {
  display: none;
}

.calendar-heatmap .heatmap .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.calendar-heatmap .heatmap .axis text {
  font-size: 12px
}

.calendar-heatmap .drag {
  stroke: gray;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

/* tooltip */

#tooltip {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  white-space: pre;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 10px;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
  fill: black;
}

/* focus on wind turbine */

#focus {
  position: absolute;
  /*width: 100vw;*/
  /*height: 100vh;*/
  overflow: hidden;
  top: 80px;
  left: 80px;
  z-index: 5;
  transition: height 0.5s, top 0.5s;
  background-color: white;
}

#focus.close {
  top: 100vh;
  height: 0;
}

#close_button {
  float:right;
  display:inline-block;
  padding:5px 5px;
  font-family: sans-serif;
  font-size: 50px;
  cursor:pointer;
}
